@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background-color: #181e2a;
  color: white;
}

h1 {
  font-size: 40px;
  line-height: 40px;
}
/* @layer {
  .btn {
    @apply bg-[#5ad5d8] hover:bg-[8cdae4] transition-all duration-200 py-2 px-6 shadow-xl rounded-3xl
  }
} */
